<!DOCTYPE html>
<html>
	<head>
		<title>Kubernetes-stellar</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

	</head>
	<body>
	    <script src="js/jsonpath-0.8.0.js"></script>
		<script src="js/three.js"></script>
		<script src="js/TrackballControls.js"></script>
		<script src="js/CSS3DRenderer.js"></script>
		<script src="js/nodes.js"></script>
		<script src="js/pods.js"></script>
		<script src="js/resourcetypes.js"></script>
		<script src="js/replicasets.js"></script>
		<script src="js/namespaces.js"></script>
		<script src="js/events.js"></script>
		<script src="js/deployments.js"></script>
		<script src="js/initreload.js"></script>
		<script src="js/ingresses.js"></script>
		<script src="js/jquery-2.2.4.min.js"></script>

		<div id="info"><a href="" target="_blank" rel="noopener"></a> Kubernetes-3d-visualizer  <a href="https://github.com/reneschoonrok/Kubernetes-3d-visualizer" target="_blank" rel="noopener">Github</a>. <input type="checkbox" id="showingress" value="true" class="button button4" checked>Show Ingress. <input type="checkbox" id="httpsingress" value="true" class="button button4" checked>use https alb.   Custom namespace: <input type="text" id="customnamespace" placeholder="custom"> <button type="button" onclick="sendToken()">Submit token to see logs and delete pods</button> <input type="password" id="mytoken" placeholder="enter token"><br></div>
		<script>
		function sendToken() {
          //var xhttp = new XMLHttpRequest();
          //xhttp.onreadystatechange = function() {
          //   if (xhttp.readyState == XMLHttpRequest.DONE) {
          //      var response = xhttp.responseText;
          //      alert(response);
          //   }
           //};

           //xhttp.open('GET', '/token?mytoken='+document.getElementById('mytoken').value, true);
           //xhttp.send(null);
           myauthtoken = document.getElementById('mytoken').value;
			//document.getElementById('mytoken').value = 'token submitted';
         }
        </script>

		<div id="container"></div>
		<div id="menu">
			<button id="delete" class="button1">Delete</button>
			<button id="openspec"  class="button1">Open spec</button>
			<button id="addreplica"  class="button1">Replica +</button>
			<button id="delreplica"  class="button1">Replica -</button>
			<button id="refresh"  class="button1">Refresh</button>
		</div>
		<div class="info1-btn-group" id="info1menu">
			<textarea id="areatext1" rows="15" cols="70" class="button6" style="overflow:hidden;resize:none"></textarea>
		</div>
		<div class="info-btn-group" id="infomenu">
			<textarea id="areatext" rows="15" cols="110" class="button6" style="resize:none" ></textarea>
		</div>

		<div class="btn-group" id="mymenu">
			<button id="detail0" class="button button3"></button>
			<button id="detail12" class="button button3"></button>
			<button id="detail10" class="button button4"></button>
			<button id="detail11" class="button button2"></button>
			<button id="detail13" class="button button4"></button>
			<button id="detail14" class="button button2"></button>
				</div>

		<script>
			
			var resourcetypes = [
				"Nodes", "elementsmall", "rgba(36, 61, 114, 0.4)", 1, 1, "810",
				"Namespaces", "elementsmall", "rgba(0,127,127,0.4)", 1, 2, "740",
				"Pods", "elementbiggest", "rgba(147, 232, 44,0.4)", 1, 3, "575",
				"Deployments", "elementsmall", "rgba(200, 7, 200,0.4)", 1, 5, "410",
				"Events", "elementnormal", "rgba(67, 114,183,0.4)", 1, 6, "310",
				"Ingress", "elementnormal", "rgba(237, 149, 61,0.4)", 1, 7, "180"
			];
			
			var namespaces = [
				"kube-system", "namespace", "rgba(0,127,127,0.2)", 5, 2, " ",
				"default", "namespace", "rgba(0,127,127,0.2)", 8, 2, " ",
				"dev", "namespace", "rgba(0,127,127,0.2)", 11, 2, " ",
				"tst", "namespace", "rgba(0,127,127,0.2)", 14, 2, " "
			];

			var nodeinfo = [];
			var podinfo = [];
			var replicaset = [];
			var eventinfo = [];
			var deployment = [];
			var ingressinfo = [];
			var ingressurls = [];
			var camera, scene, renderer;
			var controls;
			var mesh;
			var bcolorchanger = 0;

			var objects = [];
			var targets = { podinfo: [],  nodeinfo: [], resourcetypes: [],  namespaces: [], replicaset: [], deployment: [], eventinfo: [] };
			var longerlivables = { ingressinfo: []};
			var image = document.createElement( 'img' );
			var mynamespace = 'dev';
			var myauthtoken = 'empty'
			var info = [];
			var clock = new THREE.Clock();

	     	var image2 = document.createElement('img');
	     	image2.src = './img/killed.png';

	     	var image3 = document.createElement('img');
	     	image3.src = './img/failed2.png'; //nostromo ;)

	    	var image4 = document.createElement('img');
	     	image4.src = './img/pulled.png';

	     	var image5 = document.createElement('img');
	     	image5.src = './img/created.png';

	     	var image6 = document.createElement('img');
	     	image6.src = './img/scheduled.png';

	     	var image7 = document.createElement('img');
	     	image7.src = './img/succesful.png';

            var texture1 = new THREE.TextureLoader().load( './img/containerready.png' );//glscene

        	var materialready = new THREE.MeshBasicMaterial( { map: texture1, opacity: 1} );//glscene
        	const materialnotready = new THREE.MeshBasicMaterial({color: 0xFF0000,wireframe: true,});

 			var boxGeom1 = new THREE.CubeGeometry(55,20, 20);//glscene

	var runnerTexture = new THREE.ImageUtils.loadTexture( './img/arrowgreen.png' );
	ingresstexture = new TextureAnimator( runnerTexture, 4, 1, 4, 275 ); // texture, #horiz, #vert, #total, duration.
	var runnerMaterial = new THREE.MeshBasicMaterial( { map: runnerTexture, side:THREE.DoubleSide } );
	var runnerGeometry = new THREE.PlaneGeometry(100, 30, 1, 1);
	var runner = new THREE.Mesh(runnerGeometry, runnerMaterial);
	runner.position.set(-100,25,0);

	var runner2Texture = new THREE.ImageUtils.loadTexture( './img/wheel3.png' );
	nodetexture = new TextureAnimator( runner2Texture, 4, 1, 4, 100 ); // texture, #horiz, #vert, #total, duration.
	var runner2Material = new THREE.MeshBasicMaterial( { map: runner2Texture, side:THREE.DoubleSide } );
	runner2Material.transparent = true;
	var runner2Geometry = new THREE.PlaneGeometry(50,50, 1, 1);
	var runner2 = new THREE.Mesh(runner2Geometry, runnerMaterial);
	runner2.position.set(-100,25,0);



 	init();
	animate();



  function createCssObject(w, h, position, rotation, url) {
    var html = [
      '<div style="width:' + w + 'px; height:' + h + 'px;">',
      '<iframe src="' + url + '" width="' + w + '" height="' + h + '">',
      '</iframe>',
      '</div>'
    ].join('\n');
    var div = document.createElement('div');
    $(div).html(html);
    var cssObject = new THREE.CSS3DObject(div);
    cssObject.castShadow = true;
    cssObject.position.x = position.x;
    cssObject.position.y = position.y;
    cssObject.position.z = position.z;
    cssObject.rotation.x = rotation.x;
    cssObject.rotation.y = rotation.y;
    cssObject.rotation.z = rotation.z;
    return cssObject;
  }


function TextureAnimator(texture, tilesHoriz, tilesVert, numTiles, tileDispDuration)
{
	this.tilesHorizontal = tilesHoriz;
	this.tilesVertical = tilesVert;
	this.numberOfTiles = numTiles;
	texture.wrapS = texture.wrapT = THREE.RepeatWrapping;
	texture.repeat.set( 1 / this.tilesHorizontal, 1 / this.tilesVertical );

	// how long should each image be displayed?
	this.tileDisplayDuration = tileDispDuration;

	// how long has the current image been displayed?
	this.currentDisplayTime = 0;

	// which image is currently being displayed?
	this.currentTile = 0;

	this.update = function( milliSec )
	{
		this.currentDisplayTime += milliSec;
		while (this.currentDisplayTime > this.tileDisplayDuration)
		{
			this.currentDisplayTime -= this.tileDisplayDuration;
			this.currentTile++;
			if (this.currentTile == this.numberOfTiles)
				this.currentTile = 0;
			var currentColumn = this.currentTile % this.tilesHorizontal;
			texture.offset.x = currentColumn / this.tilesHorizontal;
			var currentRow = Math.floor( this.currentTile / this.tilesHorizontal );
			texture.offset.y = currentRow / this.tilesVertical;
		}
	};
}


  function create3dPage(w, h, position, rotation, url) {
   var cssObject = createCssObject(
        w, h,
        position,
        rotation,
        url);
    scene.add(cssObject);
    return cssObject;
  }

			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
				render();
			}

			function animate() {

				requestAnimationFrame( animate );

				render();
				controls.update();

			}
			
			function render() {

			var delta = clock.getDelta();
			ingresstexture.update(1000 * delta);
			nodetexture.update(1000 * delta);
           dockernodetexture.update(1000 * delta);
			cube.rotation.z -=0.005;
			//NNcube.rotation.z -=0.005;
			//logonodetexture.update(1000 * delta);
			rendererGl.render(sceneGl, camera);
			renderer.render( scene, camera );
			}


		   var intervalID = window.setInterval(myDeploymentRefresh, 6000);

		   function myDeploymentRefresh() {
        	   loaddeployments();
        	   deployment.splice(0, deployment.length)
		   }

		   var intervalID = window.setInterval(nodesRefresh, 5000);

		   function nodesRefresh() {
        	   loadnodes();
        	   nodeinfo.splice(0, nodeinfo.length)
		   }

		   var intervalID = window.setInterval(ingressRefresh, 5500);

		   function ingressRefresh() {
        	   loadingresses();
        	   ingressinfo.splice(0, ingressinfo.length)
		   }

		   var intervalID = window.setInterval(myNamespaceRefresh, 1500);

		   function myNamespaceRefresh() {
              loadnamespaces();
              //namespaces.splice(0, namespaces.length)
		   }

			var intervalID = window.setInterval(myRefresh, 2000);

			function myRefresh() {
				loadinfo();
				//loadreplicasets();
				loadevents();
				podinfo.splice(0, podinfo.length)
				//replicaset.splice(0, replicaset.length)
				eventinfo.splice(0, eventinfo.length)
			}

			var intervalID = window.setInterval(myRefreshIngress,30000);
			function myRefreshIngress() {
    		   if (showingress.checked){
			      for (var i = scene.children.length-1; i > -1; i -= 1){
       		   	    if (scene.children[i].castShadow == true){
          		    scene.remove(scene.children[i]);
        		   };
        		   }

			      var xpos = -33;
			      for ( var i = 0; i < ingressurls.length; i += 1 ) {
			      if (httpsingress.checked){
			        create3dPage( 400, 600, new THREE.Vector3(-627+xpos, -200, 0),  new THREE.Vector3(0, 0, 0), 'https://'+ingressurls[i]);
				  }
				  else {
				     create3dPage( 400, 600, new THREE.Vector3(-627+xpos, -200, 0),  new THREE.Vector3(0, 0, 0), 'http://'+ingressurls[i]);
				  };
				  xpos +=415;
			      }
			   }
			}
		</script>
	</body>
</html>
