<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">

        <title>Kuberntes-Stellar</title>

        <meta name="description" content="A futuristic kubernetes dashboard">
        <meta name="author" content="Rene Schoonrok">
        <meta name="robots" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Favicons (just the basics for now, check out http://realfavicongenerator.net/ for all available) -->
        <link rel="shortcut icon" href="/img/favicon.png">
        <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">

        <!-- Web fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">

        <!-- Bootstrap and Ares CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/ares.css">


    </head>
    <body>

        <!-- Page Container -->
        <!--
            Available Classes: 'modern-sf', 'vintage-sf', 'interstellar-sf'
        -->
        <div id="page-container" class="modern-sf">
            <!-- Header -->
            <header id="page-header">
                <div class="h3 text-right pull-right hidden-xs">
                    <div class="text-crystal font-w300">Transmitting</div>
                    <div class="text-success animated infinite pulse pull-right">[CONNECTED]</div>
                </div>
                <h1 class="h3 font-w200">
                    <span class="text-crystal">//</span> <a class="link-sf font-w300" href="https://github.com/reneschoonrok/Kubernetes-stellar">KUBERNETES-STELLAR</a>
                </h1>
                <p>
                <label for="box" id="lineid" style = "font-size:14px">Welcome - Scanning for Hybrid Cloud Technology  </label>
                <label for="box" style = "font-size:14px">//GKE //EKS //AKS //Openshift //Minikube //Other. </label>
                    <label for="box" style = "font-size:14px">Select or enter a namespace to start receiving. </label>
            </p>


                <script>
                    function sendToken() {
                        myauthtoken = document.getElementById('mytoken').value;
                    }
                </script>




            </header>
            <!-- END Header -->

            <!-- Main Content -->
            <main id="page-main">
                <!-- Columns -->
                <div class="row">
                    <!-- Animated Circles Column -->
                    <div class="col-lg-6 col-lg-push-3 overflow-hidden push-20">
                        <div class="circles push-50">
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn">
                                <span class="circle circle-0"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                <span class="circle circle-1"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="200">
                                <span class="circle circle-2"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                <span class="circle circle-3"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="400">
                                <span class="circle circle-4"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                <span class="circle circle-5"></span>
                            </div>
                            <div class="visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="600">
                                <span class="circle circle-6"></span>
                            </div>
                            <span class="circle circles-main-content visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">

                                <span class="text-crystal" id="logoword">kubernetes</span>
                            </span>
                            <hr class="hc1"> <hr class="hc1"> <hr class="hc1">
                            <hr class="hc1"> <hr class="hc1"> <hr class="hc1">
                            <hr class="hc1"> <hr class="hc1"> <hr class="hc1">
                            <hr class="hc1"> <hr class="hc1"> <hr class="hc1">
                            <hr class="hc1">
                        <div class="row">
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail1">Select a pod to get details..</button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail2"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail3"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail4"></button>
                            </div>
                            <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetailx5"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2t push-10" id="podinfodetail5"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2f push-10" id="podinfodetail5f"></button>
                            </div>
                            <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetailx6"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2t push-10" id="podinfodetail6"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2f push-10" id="podinfodetail6f"></button>
                            </div>
                            <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetailx7"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2t push-10" id="podinfodetail7"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2f push-10" id="podinfodetail7f"></button>
                            </div>
                            <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetailx8"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2t push-10" id="podinfodetail8"></button>
                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2f push-10" id="podinfodetail8f"></button>
                            </div>


                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail11"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail12"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail13"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail14"></button>
                            </div>
                            <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf2 push-10" id="podinfodetail15"></button>
                            </div>
                            <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <button class="btn btn-xl btn-block btn-sf push-5" id="podinfodetail10">Pod logs</button>

                            </div>
                            <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">

                                <button class="btn btn-xl btn-block btn-sf2f push-5" id="podinfodetail10" onclick="deletePod()">Delete pod</button>
                            </div>


                            <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                <textarea class="btn btn-xl btn-block btn-sf3 push-10" id="areatext" rows="15" cols="110" class="button6" style="resize:none" ></textarea>
                            </div>
                        </div>
                    </div>

                    </div>
                    <!-- END Animated Circles Column -->



                    <!-- Left Column -->
                    <div class="col-sm-6 col-lg-3 col-lg-pull-6">
                        <!-- Environment -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Namespace Pods</h2>
                            </div>
                            <div class="block-content" id="myblock">

                            </div>
                        </div>
                        <!-- END Environment -->

                        <!-- Ingress -->

                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Ingress</h2>
                                <input type="checkbox" id="https-ingress" value="true" class="button button4" checked>use https alb - click ingress to open url
                            </div>
                            <div class="block-content"  id="myingressblock">
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                            </div>
                        </div>
                        <!-- END Ingress -->



                    </div>
                    <!-- END Left Column -->

                    <!-- Right Column -->
                    <div class="col-sm-6 col-lg-3">
                        <!-- HQ_COMS -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Resources</h2>
                            </div>
                            <div class="block-content overflow-hidden">
                                <div class="row items-push">
                                    <p>
                                    <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <label for="box" style = "font-size:16px;">Namespace:</label>
                                    </div>
                                    <div class="col-xs-2 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <div class="box" >
                                            <select id="selectnamespace" onchange="changenamespace(this);">
                                                <option>dev</option>
                                                <option>kube-system</option>
                                                <option>tst</option>
                                                <option>default</option>
                                                <option>custom</option>
                                            </select>

                                        </div>
                                    </div>
                                    </p>
                                </div>
                                <div class="row items-push">
                                    <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <label for="box" style = "font-size:14px; color: white">Custom Namespace:</label>
                                    </div>
                                    <div class="col-xs-2 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <input type="text" class="btn btn-xl btn-block btn-sf3 push-10" id="customnamespace" placeholder="<enter namespace>" class="button6" size="15" style="resize:none" onchange="changenamespacecustom(this);"></input>
                                        <!--<input type="text" id="customnamespace" style = "font-size:14px; color: black" placeholder="custom" onchange="changenamespacecustom(this);"> -->
                                    </div>
                                </div>
                                <div class="row items-push">
                                    <div class="col-xs-3 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="700">
                                        <label for="box" style = "font-size:14px; color: white">Enable logs and delete</label>
                                        <!-- <button type="button" class="box" style = "font-size:14px; color: black" onclick="sendToken()">Submit token to see logs (click)</button> -->
                                    </div>
                                    <div class="col-xs-2 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="900">
                                        <input type="password" class="btn btn-xl btn-block btn-sf3 push-10" id="mytoken" placeholder="<input token + enter>" class="button6" size="15" style="resize:none" onchange="sendToken()"></input>
                                        <!--<input type="password" style = "font-size:14px; color: black" id="mytoken" placeholder="enter token"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END HQ_COMS -->



                        <!-- DATA_STREAM -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">EVENT_STREAM</h2>
                            </div>
                            <div class="block-content" id="myeventblock">
                                <div class="row items-push">

                                    <!--<div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="100">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="300">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="500">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="700">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="900">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    <div class="col-xs-10 visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1100">
                                        <div class="tooltip"><span class="tooltiptext">wowee</span><img src="/img/scheduled.png" /> Scheduled</div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                        <!-- END DATA_STREAM -->
                        <!-- Deployments -->

                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" id="mydeploymentslabel" data-toggle="appear" data-class="animated fadeInDown" onclick="displayDeployments()">+ Deployments</h2>
                            </div>
                            <div class="block-content"  id="mydeploymentsblock">
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                            </div>
                        </div>
                        <!-- END Planets -->


                        <!-- Volumes -->

                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" id="myvolumeslabel" data-toggle="appear" data-class="animated fadeInDown" onclick="displayVolumes()">+ Volumes</h2>
                            </div>
                            <div class="block-content"  id="myvolumesblock">
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                                <div class="row items-push overflow-hidden">

                                </div>
                            </div>
                        </div>
                        <!-- END Planets -->

                        <!-- CHAT -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" id="sociallabel" data-toggle="appear" data-class="animated fadeInDown" onclick="displayChat()">+ SOCIAL</h2>
                            </div>
                            <div class="block-content" id="mychatblock">
                                <div class="row items-push">

                                    <div class="col-xs-8 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                        <input class="btn btn-xl btn-block btn-sf3 push-10" id="chatid" placeholder="<Me>" class="button6" size="15" style="resize:none" ></input>
                                        <input class="btn btn-xl btn-block btn-sf3 push-10" id="chatmsg" placeholder="type here and press <enter> to chat."class="button6" size="43" style="resize:none" ></input>
                                        <textarea class="btn btn-xl btn-block btn-sf3 push-10" id="chattext" rows="8" cols="45" class="button6" style="resize:none" ></textarea>

                                        <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                            <button type="button" id="gamebutton1" class="btn btn-xl btn-block btn-sf push-10" onclick="displayCanvas()">Space invaders  -  </button>
                                        </div>

                                        <div class="col-xs-5 visibility-hidden" data-toggle="appear" data-class="animated fadeInLeft" data-timeout="100">
                                            <button type="button" id="gamebutton2" class="btn btn-xl btn-block btn-sf" onclick="displayCanvaspong()">-  Pong</button>
                                        </div>

                                        <button type="button" id="restartbutton" class="btn btn-xl btn-block btn-sf2">Click to restart. Controls: Z=Fire N=Left, M=Right!</button>
                                        <canvas id="canvasId" width="400" height="250"></canvas>
                                        <canvas id="canvasIdpong" width="400" height="250"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CHAT -->
                        <!-- POS_TRACKING -->
                        <div class="block">
                            <div class="block-header overflow-hidden">
                                <h2 class="block-title visibility-hidden" data-toggle="appear" data-class="animated fadeInDown">Mem / CPU stats (todo)</h2>
                            </div>
                            <div class="block-content block-content-full overflow-hidden">

                            </div>
                        </div>
                        <!-- END POS_TRACKING -->

                    </div>
                    <!-- END Right Column -->
                </div>
                <!-- END Columns -->

                <!-- Page Footer -->
                <div class="block">

                    <div class="block-content block-content-full font-s12 text-center visibility-hidden" data-toggle="appear" data-class="animated fadeIn" data-timeout="1000">
                        2019 &copy; Build by Rene Schoonrok. <a class="link-sf" href="https://github.com/reneschoonrok/">Github</a> CSS/Web layout by <a class="link-sf" href="https://pixelcave.com/">Pixelcave</a>
                    </div>
                </div>
                <!-- END Page Footer -->
            </main>
            <!-- END Main Content -->
        </div>
        <!-- END Page Container -->

        <!-- Scripts -->
        <script src="js/jsonpath-0.8.0.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.appear.min.js"></script>
        <script src="/js/jquery.countTo.min.js"></script>
        <script src="/js/jquery.easypiechart.min.js"></script>
        <script src="/js/ares.js"></script>
        <script src="js/pods.js"></script>
        <script src="js/poddetails.js"></script>
        <script src="js/namespaces.js"></script>
        <script src="js/events.js"></script>
        <script src="js/deployments.js"></script>
        <script src="js/ingresses.js"></script>
        <script src="js/volumes.js"></script>
        <script src="js/chat.js"></script>
        <script src="js/game.js"></script>
        <script src="js/pong.js"></script>

        <!-- Page JS Code -->
        <script>
            displayChat();
            function changenamespace(element) {
                //alert(element.options[element.selectedIndex].text)
                mynamespace =element.options[element.selectedIndex].text;
                //var lineid = document.getElementById("lineid")
                //lineid.textContent ="Connecting to namespace. Make sure your serviceaccount has rights!"
            }

            function changenamespacecustom(element) {
                //alert(element.options[element.selectedIndex].text)
                mynamespace =element.value;
            }
            var mynamespace = 'dev';
            var podinfo = [];
            var eventinfo = [];
            var ingressinfo = [];
            var pvcinfo = [];
            var deployment = [];
            var selecteditem = "";
            var selectedtype = "";
            var myauthtoken = "empty";
            var showdeployments = "false";
            var showvolumes = "false";
            canvasId.style.display = "none";
            canvasIdpong.style.display = "none";
            restartbutton.style.display = "none";


            $(document).keypress(function (e) {
                if (e.which == 13) {
                    //alert('enter key is pressed');
                    //console.log('enter key is pressed');
                    addchatline();
                    chatmsg.text = '';
                }
            });

            jQuery(function(){
                // Init page helpers (Appear + CountTo + Easy Pie Chart plugins)
                Ares.initHelpers(['appear', 'appear-countTo', 'easy-pie-chart']);
            });
            //podnum.innerHTML=65

            function displayCanvas() {
                var canvas = document.getElementById("canvasId")
                if (canvas.style.display == "") {
                    canvas.style.display = "none";
                    restartbutton.style.display = "none"
                } else
                {
                    canvas.style.display = "";
                    restartbutton.style.display ="";
                    restartbutton.click();

                    //loadgame("screen");
                }
            }


            function displayChat() {
                var canvas = document.getElementById("canvasId")
                if (chatid.style.display == "") {
                    chatid.style.display = "none";
                    chatmsg.style.display = "none"
                    chattext.style.display = "none"
                    var game1 = document.getElementById("gamebutton1")
                    game1.style.display = "none"
                    var game2 = document.getElementById("gamebutton2")
                    game2.style.display = "none"
                    sociallabel.textContent = "+ SOCIAL"
                } else
                {
                    chatid.style.display = "";
                    chatmsg.style.display ="";
                    chattext.style.display = ""
                    sociallabel.textContent = "- SOCIAL"
                    var game1 = document.getElementById("gamebutton1")
                    game1.style.display = ""
                    var game2 = document.getElementById("gamebutton2")
                    game2.style.display = ""
                    //loadgame("screen");
                }
            }

            function displayDeployments() {
                var deploymentlabel = document.getElementById("mydeploymentslabel")
                if (showdeployments == "true") {
                    showdeployments = "false";
                    mydeploymentslabel.textContent = "+ DEPLOYMENTS"
                    const myNode = document.getElementById("mydeploymentsblock");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                } else
                {
                    showdeployments = "true";
                    mydeploymentslabel.textContent = "- DEPLOYMENTS"
                }
            }

            function displayVolumes() {
                var myvolumeslabel = document.getElementById("myvolumeslabel")
                if (showvolumes == "true") {
                    showvolumes = "false";
                    myvolumeslabel.textContent = "+ VOLUMES"
                    const myNode = document.getElementById("myvolumesblock");
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                } else
                {
                    showvolumes = "true";
                    myvolumeslabel.textContent = "- VOLUMES"
                }
            }

            function displayCanvaspong() {
                var canvas = document.getElementById("canvasIdpong")
                if (canvas.style.display == "") {
                    canvas.style.display = "none";
                    //restartbutton.style.display = "none"
                } else
                {
                    canvas.style.display = "";
                    //restartbutton.style.display ="";
                    //restartbutton.click();

                    //loadgame("screen");
                }
            }

            var intervalID = window.setInterval(myNamespaceRefresh, 10000);

            function myNamespaceRefresh() {
                loadnamespaces();
                //namespaces.splice(0, namespaces.length)
            }

            function selectPod(itemtext) {
                selecteditem = itemtext;
                selectedtype = "pod";
            }

            var intervalID = window.setInterval(myRefresh, 1800);

            function myRefresh() {
                loadinfo();
            }

            var intervalID = window.setInterval(poddetails, 1900);

            function poddetails() {
                loadpoddetails();
            }

            var intervalID = window.setInterval(logdetails, 3200);

            function logdetails() {
                loadlogdetails();
            }

            var intervalID = window.setInterval(eventdetails, 2000);

            function eventdetails() {
                loadevents();
            }

            var intervalID = window.setInterval(ingressdetails, 6000);

            function ingressdetails() {
                loadingresses();

            }

            var intervalID = window.setInterval(pvcdetails, 4000);

            function pvcdetails() {
                if ( showvolumes == "true") {
                    loadpvc();
                }
            }

            var intervalID = window.setInterval(deploymentsload, 3000);

            function deploymentsload() {
                if ( showdeployments == "true")
                {
                    loaddeployments();
                }
            }

            var intervalID = window.setInterval(getchat, 3000);

            function getchat() {
                loadchat();
            }

        </script>
        <script src="js/typing.js"></script>
    </body>
</html>
